# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
tab_width = 4

# Vue files
[*.vue]
indent_style = tab
tab_width = 4

# TypeScript files
[*.{ts,tsx}]
indent_style = tab
tab_width = 4

# JavaScript files
[*.{js,jsx}]
indent_style = tab
tab_width = 4

# JSON files
[*.json]
indent_style = space
indent_size = 4

# CSS/SCSS files
[*.{css,scss,sass}]
indent_style = tab
tab_width = 4

# HTML files
[*.{html,htm}]
indent_style = tab
tab_width = 4

# Markdown files
[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 4

# Package files
[package*.json]
indent_style = space
indent_size = 4

# Configuration files
[*.{config,conf}]
indent_style = tab
tab_width = 4
