// цвета
$black: #282C34;
$gray: #82868E;
$lightGray: #E8E8E7;
$red: #DC1020;
$white: #ffffff;

// Разрешения
$tablet: 768px;
$laptop: 1024px;
$desktop: 1180px;

// шрифты
$firstFont: 'Inter', sans-serif;